{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">
    <title>Fireblog</title>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>



    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/scss/style.scss' %}" rel="stylesheet">
    <link href="{% static 'css/w3.css' %}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-text d-flex flex-column h-100 justify-content-center text-center">
                <img class="mx-auto d-block w-75 bg-primary img-fluid rounded-circle mb-4 p-3" src="{% static 'img/profile.jpg' %}" alt="Image">
                <h1 class="font-weight-bold">Kate Glover</h1>
                <p class="mb-4">
                    
                </p>
                <div class="d-flex justify-content-center mb-5">
                    <a class="btn btn-outline-primary mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-primary mr-2" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <a href="" class="btn btn-lg btn-block btn-primary mt-auto">Talk to me</a>
            </div>
            <div class="sidebar-icon d-flex flex-column h-100 justify-content-center text-right">
                <i class="fas fa-2x fa-angle-double-right text-primary"></i>
            </div>
        </div>
        <div class="content">
            <!-- Navbar Start -->
            <div class="container p-0" >
                <nav class="navbar mt-0 navbar-expand-lg bg-secondary navbar-dark" >
                    <a href="{% url 'home' %}" class=" d-block d-lg-none w3-text-white w3-left w3-xlarge">Fireblog</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav m-auto">
                            <a href="{% url 'home' %}" class=" nav-link active font-weight-bold">Fireblog</a>
                            <a href=""d class="nav-item nav-link active w3-large w3-text-yellow w3-hover-text-green">Tech</a>
                            <a href=""d class="nav-item nav-link active w3-large w3-text-yellow w3-hover-text-green">Lifestyle</a>
                            <a href=""d class="nav-item nav-link active w3-large w3-text-yellow w3-hover-text-green">Business</a>
                            <a href=""d class="nav-item nav-link active w3-large w3-text-yellow w3-hover-text-green">Career</a>
                            <a href=""d class="nav-item nav-link active w3-large w3-text-yellow w3-hover-text-green">Sport</a>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- Navbar End -->
            {% block content %}
            {% endblock content %}
            <div id="" class="font-weight-bold text-primary">
                <h3 class="font-weight-bold text-white container py-4 bg-secondary">Latest posts <span class="w3-right">
                        {% total_posts %} total posts</span></h3>
                {% show_latest_posts 5 %}
            </div>
            <div class="container py-4 bg-secondary text-center">
                <!-- <h3>Most commented posts</h3>
                {% get_most_commented_posts as most_commented_posts %}
                <ul>
                    {% for post in most_commented_posts %}
                    <li>
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul> -->
                <p>
                    <a href="{% url 'feeds' %}" class="w3-text-yellow">Subscribe to my RSS feed</a>
                </p>
                <p class="m-0 text-white">
                    &copy; <a class="text-white font-weight-bold keychainify-checked" href="#">Fireblog</a>. All Rights
                    Reserved. Designed by <a class="text-white font-weight-bold keychainify-checked "
                        href="https://fireportf.herokuapp.com">firebCorps</a>
                </p>
            </div>
        </div>


    </div>
</body>

</html>