{% extends 'pbt/_base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
<!-- JavaScript Libraries -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>

<!-- Contact Javascript File -->
<script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
<script src="{% static 'mail/contact.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
<div class="slideshow-container w3-margin">

    <div class="myslides fades ">
        <img class="w-100" src="{% static 'img/carousel-1.jpg' %}" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <h2 class="mb-3 text-white font-weight-bold">Lorem ipsum dolor sit amet</h2>
            <div class="d-flex text-white">
                <small class="mr-2"><i class="fa fa-calendar-alt"></i> 01-Jan-2045</small>
                <small class="mr-2"><i class="fa fa-folder"></i> Web Design</small>
                <small class="mr-2"><i class="fa fa-comments"></i> 15 Comments</small>
            </div>
            <a href="" class="btn btn-lg btn-outline-light mt-4">Read More</a>
        </div>
    </div>
    <div class="myslides fades">
        <img class="w-100" src="{% static 'img/carousel-2.jpg' %}" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <h2 class="text-white font-weight-bold">Lorem ipsum dolor sit amet</h2>
            <div class="d-flex">
                <small class="mr-2"><i class="fa fa-calendar-alt"></i> 01-Jan-2045</small>
                <small class="mr-2"><i class="fa fa-folder"></i> Web Design</small>
                <small class="mr-2"><i class="fa fa-comments"></i> 15 Comments</small>
            </div>
            <a href="" class="btn btn-lg btn-outline-light mt-4">Read More</a>
        </div>
    </div>
    <div class="myslides fades">
        <img class="w-100" src="{% static 'img/carousel-3.jpg' %}" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <h2 class="text-white font-weight-bold">Lorem ipsum dolor sit amet</h2>
            <div class="d-flex">
                <small class="mr-2"><i class="fa fa-calendar-alt"></i> 01-Jan-2045</small>
                <small class="mr-2"><i class="fa fa-folder"></i> Web Design</small>
                <small class="mr-2"><i class="fa fa-comments"></i> 15 Comments</small>
            </div>
            <a href="" class="btn btn-lg btn-outline-light mt-4">Read More</a>
        </div>
    </div>

    <a class="prevs" onclick="pluSSlides(-1)">
        &#10094;
    </a>
    <a class="nexts" onclick="pluSSlides(1)">
        &#10095;
    </a>
    <div style="text-align: center;">
        <span class="dot " onclick="currentSlide(1)"></span>
        <span class="dot " onclick="currentSlide(2)"></span>
        <span class="dot " onclick="currentSlide(3)"></span>
    </div>
</div>


<!-- Blog List Start -->
{% if tag %}
<h2>Posts tagged with "{{ tag.name }}"</h2>
{% endif %}
{% for article in posts %}
<p class="tags">
    Tags:
    {% for tag in article.tags.all %}
    <a href="{% url 'post_list_by_tag' tag.slug %}" class="w3-large">
        {{ tag.name }}
    </a>
    {% if not forloop.last %}
    {% endif %}
    {% endfor %}
</p>
<div class="container bg-white pt-5 w3-margin">
    <div class="row blog-item px-3 pb-5">
        <div class="col-md-5">
            {% if article.img %}
            <img class="img-fluid mb-4 mb-md-0" src="{{article.img.url}}" alt="Image">
            {% endif %}
        </div>
        <div class="col-md-7">
            <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">{{article.title}}</h3>
            <div class="d-flex mb-3">
                <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i>{{article.publish}}</small>
                <p><small class="mr-2 text-muted"><i class="fa fa-folder"></i> by {{article.author}}</small></p>
            </div>
            <p>
                {{ article.synopsis|markdown|truncatewords_html:30 }}

            </p>
            <a class="btn btn-link p-0 font-weight-bold py-2" href="{% url 'detail' article.pk %}">Read More <i
                    class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>
{% endfor %}


<!-- Blog List End -->


<!-- Subscribe Start -->
<div class="container py-5 px-4 bg-secondary text-center">
    <h1 class="text-white font-weight-bold">Subscribe My Newsletter</h1>
    <p class="text-white">Subscribe and get my latest article in your inbox</p>
    <form class="form-inline justify-content-center">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Your Email">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Subscribe</button>
            </div>
        </div>
    </form>
</div>
<style>
    .slideshow-container {
        max-width: fit-content;
        position: relative;
        margin: auto;
    }

    .myslides {
        display: none;
    }

    .prevs,
    .nexts {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .nexts {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prevs:hover,
    .nexts:hover {
        background-color: rgba(0, 0, 0, .8);
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }


    .actives,
    .dot:hover {
        background-color: #717171;
    }

    .fades {
        animation-name: fades;
        animation-duration: 1.5s;
    }

    @keyframes fades {
        from {
            opacity: .4;
        }

        to {
            opacity: 1;
        }
    }
</style>
<script>
    let slideIndex = 0;
    shoWSlides();

    function shoWSlides(){
        let i;
        let slides = document.getElementsByClassName("myslides");
        for (i = 0; i < slides.length; i++){
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length){slideIndex = 1}
        slides[slideIndex - 1].style.display = 'block';
        setTimeout(shoWSlides, 5000);
    }
    // let slideIndex = 1;
    // shoWSlides(slideIndex);

    // // Next/previous controls
    // function pluSSlides(n) {
    //     shoWSlides(slideIndex += n);
    // }

    // // Thumbnail image controls
    // function currentSlide(n) {
    //     shoWSlides(slideIndex = n);
    // }

    // function shoWSlides(n) {
    //     let i;
    //     let slides = document.getElementsByClassName("myslides");
    //     let dots = document.getElementsByClassName("dot");
    //     if (n > slides.length) { slideIndex = 1 }
    //     if (n < 1) { slideIndex = slides.length }
    //     for (i = 0; i < slides.length; i++) {
    //         slides[i].style.display = "none";
    //     }
    //     for (i = 0; i < dots.length; i++) {
    //         dots[i].className = dots[i].className.replace(" actives", "");
    //     }
    //     slides[slideIndex - 1].style.display = "block";
    //     dots[slideIndex - 1].className += " actives";
    // }
</script>
<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>



{% include "pbt/pagn.html" with page=posts %}
{% endblock content %}