[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-jazzmin = "*"
django-tinymce = "*"
django-filebrowser = "*"
django-grappelli = "*"
django-taggit = "*"
whitenoise = "*"
dj-database-url = "*"
django-heroku = "*"
python-dotenv = "*"
gunicorn = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
